.container{
    min-height: 100vh;
    display: flex;
}
.container .content{
    text-align: center;
}
.container .content .button{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #eee;
 }
 
 .form-container form{
    padding:20px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
 }
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .form-container form input{
    width: 90%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
    border: none;
 }
 .form-container form select{
    width: 50%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
 }
 .form-container form select option{
    background: #fff;
 }
 
 .form-container form .form-btn{
    background: #aff3e8;
    color:gb(3, 187, 156);
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: rgb(3, 187, 156);
    color:#fff;
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color: rgb(3, 187, 156);
    text-decoration: none;
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: gb(3, 187, 156);
    color:#fc0a0a;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
